# Gather stock price data from past 20 years for the biggest players across each sector

https://www.alphavantage.co/documentation/#dailyadj

In [2]:
pip install alpha_vantage

Collecting alpha_vantage
  Downloading alpha_vantage-3.0.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: aiohttp in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from alpha_vantage) (3.10.5)
Requirement already satisfied: requests in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from alpha_vantage) (2.32.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (1.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests->alpha_vantage) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests->alpha_vantage) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests->alpha_vantage) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests->alpha_vantage) (2024.8.30)
Downloading alpha_vantage-3.0.0-py3-none-any.whl (35 kB)
Installing collected packages: alpha_vantage
Successfully installed alpha_vantage-3.0.0
Note: you may need to restart the kernel to use updated packages.

## Using Alpha Vantage API

In [3]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd

In [7]:
import requests

url ='https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=NVDA&outputsize=full&datatype=csv&apikey=KARS1PN9N573AELO'
r = requests.get(url)

In [13]:
import io

In [17]:
text= r.text
nvd_data= pd.read_csv(io.StringIO(text))
print(nvd_data)

       timestamp    open      high       low   close     volume
0     2024-11-06  142.96  146.4900  141.9600  145.61  238860901
1     2024-11-05  137.45  140.3701  137.3300  139.91  160537373
2     2024-11-04  137.21  138.9600  135.5700  136.05  187528173
3     2024-11-01  134.70  137.3100  134.5700  135.40  207127838
4     2024-10-31  137.60  137.6100  132.1106  132.76  270039641
...          ...     ...       ...       ...     ...        ...
6290  1999-11-05   30.00   30.2500   26.8800   28.25    1284100
6291  1999-11-04   27.75   29.9400   27.7500   29.19    2625700
6292  1999-11-03   26.00   28.1300   25.8100   27.44    4191000
6293  1999-11-02   23.94   25.1300   23.7500   25.00    1744800
6294  1999-11-01   21.75   24.3800   21.7500   23.50    1630300

[6295 rows x 6 columns]

In [27]:
nvd_data

       timestamp    open      high       low   close     volume
0     2024-11-06  142.96  146.4900  141.9600  145.61  238860901
1     2024-11-05  137.45  140.3701  137.3300  139.91  160537373
2     2024-11-04  137.21  138.9600  135.5700  136.05  187528173
3     2024-11-01  134.70  137.3100  134.5700  135.40  207127838
4     2024-10-31  137.60  137.6100  132.1106  132.76  270039641
...          ...     ...       ...       ...     ...        ...
6290  1999-11-05   30.00   30.2500   26.8800   28.25    1284100
6291  1999-11-04   27.75   29.9400   27.7500   29.19    2625700
6292  1999-11-03   26.00   28.1300   25.8100   27.44    4191000
6293  1999-11-02   23.94   25.1300   23.7500   25.00    1744800
6294  1999-11-01   21.75   24.3800   21.7500   23.50    1630300

[6295 rows x 6 columns]

Fetching stock data of biggest players in the market

In [28]:
def fetch_multiple_stocks(api_key, symbols):
    """
   
    Parameters:
    api_key (str): Alpha Vantage API key
    symbols (list): List of stock symbols
    
    Returns:
    dict: Dictionary of DataFrames with stock symbols as keys
    """
    symbols =['AMZN', 'XOM', 'GOOGL', 'MSFT', 'LIN', 'WMT', 'NEE', 'LLY', 'BRK.B', 'PLD', 'GE']

    base_url = 'https://www.alphavantage.co/query'
    stock_data = {}
    
    for symbol in symbols:
        params = {
            'function': 'TIME_SERIES_DAILY',
            'symbol': symbol,
            'outputsize': 'full',
            'datatype': 'csv',
            'apikey': 'KARS1PN9N573AELO'
        }
        
        try:
            response = requests.get(base_url, params=params)
            if response.status_code == 200:
                df = pd.read_csv(io.StringIO(response.text))
                stock_data[symbol] = df
                print(f"Successfully fetched data for {symbol}")
                # Alpha Vantage has a rate limit of 5 API calls per minute for free tier
                time.sleep(12)  # Adding delay to respect rate limits
            else:
                print(f"Failed to fetch data for {symbol}: Status code {response.status_code}")
                
        except Exception as e:
            print(f"Error fetching data for {symbol}: {str(e)}")
    
    return stock_data

# Usage example
api_key = 'KARS1PN9N573AELO'  # Replace with your API key
symbols = ['AMZN', 'XOM', 'GOOGL', 'MSFT', 'LIN', 
           'WMT', 'NEE', 'LLY', 'BRK.B', 'PLD', 'GE']

# Import required libraries if not already imported
import requests
import pandas as pd
import io
import time

# Fetch the data
stock_datasets = fetch_multiple_stocks(api_key, symbols)

Successfully fetched data for AMZN
Successfully fetched data for XOM
Successfully fetched data for GOOGL
Successfully fetched data for MSFT
Successfully fetched data for LIN
Successfully fetched data for WMT
Successfully fetched data for NEE
Successfully fetched data for LLY
Successfully fetched data for BRK.B
Successfully fetched data for PLD
Successfully fetched data for GE

In [30]:
# Add symbol column to each DataFrame
for symbol, df in stock_datasets.items():
    df['symbol'] = symbol  # Add symbol column

stock_datasets

{'AMZN':        timestamp    open    high       low   close    volume symbol
 0     2024-11-06  200.01  207.55  199.1400  207.09  72292167   AMZN
 1     2024-11-05  196.04  199.82  195.9900  199.50  30564784   AMZN
 2     2024-11-04  196.45  197.33  194.3101  195.78  38492062   AMZN
 3     2024-11-01  199.00  200.50  197.0200  197.93  99687847   AMZN
 4     2024-10-31  190.51  190.60  185.2300  186.40  75146759   AMZN
 ...          ...     ...     ...       ...     ...       ...    ...
 6290  1999-11-05   64.75   65.50   62.2500   64.94  11091400   AMZN
 6291  1999-11-04   67.19   67.19   61.0000   63.06  16759200   AMZN
 6292  1999-11-03   68.19   68.50   65.0000   65.81  10772100   AMZN
 6293  1999-11-02   69.75   70.00   65.0600   66.44  13243200   AMZN
 6294  1999-11-01   68.06   71.88   66.3100   69.13  12824100   AMZN

 [6295 rows x 7 columns],
 'XOM':        timestamp     open    high     low   close    volume symbol
 0     2024-11-06  121.145  121.91  119.30  121.00  20807681    XOM
 1     2024-11-05  119.080  119.21  118.01  118.96  10436744    XOM
 2     2024-11-04  116.070  118.70  115.93  118.61  14965433    XOM
 3     2024-11-01  119.930  119.95  114.84  114.95  20939321    XOM
 4     2024-10-31  117.150  118.67  116.68  116.78  20511977    XOM
 ...          ...      ...     ...     ...     ...       ...    ...
 6290  1999-11-05   73.000   73.00   70.06   70.62   7173300    XOM
 6291  1999-11-04   73.690   73.94   72.50   73.00   3636000    XOM
 6292  1999-11-03   74.620   74.62   72.56   73.00   3738600    XOM
 6293  1999-11-02   74.370   75.19   73.94   74.12   2950100    XOM
 6294  1999-11-01   74.060   75.00   73.56   74.75   3394300    XOM

 [6295 rows x 7 columns],
 'GOOGL':        timestamp    open    high      low    close    volume symbol
 0     2024-11-06  173.80  176.94  173.500  176.510  33695538  GOOGL
 1     2024-11-05  169.43  170.53  168.840  169.740  18242050  GOOGL
 2     2024-11-04  169.93  170.73  168.011  169.240  21492744  GOOGL
 3     2024-11-01  170.07  172.32  168.880  171.290  31796477  GOOGL
 4     2024-10-31  173.13  176.82  171.000  171.110  44768981  GOOGL
 ...          ...     ...     ...      ...      ...       ...    ...
 5085  2004-08-25  104.76  108.00  103.880  106.000   9188600  GOOGL
 5086  2004-08-24  111.24  111.60  103.570  104.870  15247300  GOOGL
 5087  2004-08-23  110.76  113.48  109.050  109.400  18256100  GOOGL
 5088  2004-08-20  101.01  109.08  100.500  108.310  22834300  GOOGL
 5089  2004-08-19  100.01  104.06   95.960  100.335  44659000  GOOGL

 [5090 rows x 7 columns],
 'MSFT':        timestamp    open     high       low   close    volume symbol
 0     2024-11-06  412.42  420.450  410.5200  420.18  26681842   MSFT
 1     2024-11-05  408.37  414.900  408.0800  411.46  17626011   MSFT
 2     2024-11-04  409.80  410.415  405.5713  408.46  19672286   MSFT
 3     2024-11-01  409.01  415.500  407.5000  410.37  24230442   MSFT
 4     2024-10-31  415.36  416.160  406.3000  406.35  53970981   MSFT
 ...          ...     ...      ...       ...     ...       ...    ...
 6290  1999-11-05   91.81   92.870   90.5000   91.56  35083700   MSFT
 6291  1999-11-04   92.31   92.750   90.3100   91.75  27119700   MSFT
 6292  1999-11-03   92.94   93.500   91.5000   92.00  22258500   MSFT
 6293  1999-11-02   92.75   94.500   91.9400   92.56  23174500   MSFT
 6294  1999-11-01   93.25   94.190   92.1200   92.37  26630600   MSFT

 [6295 rows x 7 columns],
 'LIN':        timestamp    open    high     low   close   volume symbol
 0     2024-11-06  463.82  465.69  458.32  462.63  2626911    LIN
 1     2024-11-05  458.32  460.86  454.17  454.89  1749314    LIN
 2     2024-11-04  457.98  461.80  456.29  458.32  1616117    LIN
 3     2024-11-01  456.51  459.33  453.50  457.31  2347398    LIN
 4     2024-10-31  454.95  463.00  454.47  456.15  3615602    LIN
 ...          ...     ...     ...     ...     ...      ...    ...
 1531  2018-10-05  164.15  165.74  163.65  164.24  1538700    LIN
 1532  2018-10-04  166.82  167.00  163.38  165.83  1720100    LIN
 1533  2018-10-03  169.75  169.75  167.18  167.57   950500    LIN
 1534  2018-10-02  166.26  169.26  165.43  169.03  1652300    LIN
 1535  2018-10-01  165.58  169.10  165.29  168.87  2329700    LIN

 [1536 rows x 7 columns],
 'WMT':        timestamp   open    high    low  close    volume symbol
 0     2024-11-06  85.14  85.540  82.06  83.44  19974038    WMT
 1     2024-11-05  82.68  83.770  82.51  83.68  10612489    WMT
 2     2024-11-04  82.20  82.905  82.00  82.45  11731043    WMT
 3     2024-11-01  82.53  82.530  81.54  82.19  12181833    WMT
 4     2024-10-31  81.29  82.440  81.22  81.95  15538968    WMT
 ...          ...    ...     ...    ...    ...       ...    ...
 6290  1999-11-05  57.50  58.750  57.25  58.06   6239900    WMT
 6291  1999-11-04  56.50  57.000  55.88  56.00   4150600    WMT
 6292  1999-11-03  55.75  56.440  55.00  55.75   4081300    WMT
 6293  1999-11-02  56.31  57.130  55.63  56.13   4579600    WMT
 6294  1999-11-01  57.25  57.880  56.13  56.25   4778500    WMT

 [6295 rows x 7 columns],
 'NEE':        timestamp   open     high     low  close    volume symbol
 0     2024-11-06  74.30  74.9800  72.690  74.52  28637812    NEE
 1     2024-11-05  77.77  78.7850  76.970  78.65   9051659    NEE
 2     2024-11-04  77.35  78.8200  77.100  78.37  11759135    NEE
 3     2024-11-01  79.39  79.4550  76.965  77.35  14615297    NEE
 4     2024-10-31  78.39  79.8461  78.140  79.25  13034688    NEE
 ...          ...    ...      ...     ...    ...       ...    ...
 6290  1999-11-05  49.19  49.8100  48.750  49.00    269800    NEE
 6291  1999-11-04  49.44  49.5600  48.440  48.81    448300    NEE
 6292  1999-11-03  49.81  49.9400  49.380  49.69    324500    NEE
 6293  1999-11-02  50.00  50.6300  49.940  50.25    317000    NEE
 6294  1999-11-01  50.19  50.2500  49.250  50.00    384400    NEE

 [6295 rows x 7 columns],
 'LLY':        timestamp      open    high     low   close   volume symbol
 0     2024-11-06  817.3299  820.73  767.61  776.38  8257862    LLY
 1     2024-11-05  803.8250  809.21  797.49  806.06  3733279    LLY
 2     2024-11-04  805.0000  820.19  803.68  806.14  3918122    LLY
 3     2024-11-01  828.0000  833.00  816.73  818.93  5266277    LLY
 4     2024-10-31  836.5100  853.50  825.24  829.74  6582820    LLY
 ...          ...       ...     ...     ...     ...      ...    ...
 6290  1999-11-05   77.1900   78.75   76.75   77.00  5094000    LLY
 6291  1999-11-04   73.1300   76.56   72.75   76.13  5294600    LLY
 6292  1999-11-03   70.8800   72.38   70.81   71.88  4182500    LLY
 6293  1999-11-02   69.6300   69.88   68.56   68.88  2254400    LLY
 6294  1999-11-01   68.9400   70.00   68.25   68.75  2400000    LLY

 [6295 rows x 7 columns],
 'BRK.B':        timestamp     open     high        low    close   volume symbol
 0     2024-11-06   461.00   469.26   459.4801   468.90  6906833  BRK.B
 1     2024-11-05   442.29   445.23   441.1000   445.06  3154357  BRK.B
 2     2024-11-04   450.37   450.70   437.9000   442.29  5733184  BRK.B
 3     2024-11-01   451.49   455.12   450.7000   452.14  2971342  BRK.B
 4     2024-10-31   455.19   456.84   450.5700   450.92  3660308  BRK.B
 ...          ...      ...      ...        ...      ...      ...    ...
 6290  1999-11-05  2210.00  2219.00  2116.0000  2131.00     9400  BRK.B
 6291  1999-11-04  2163.00  2194.00  2149.0000  2163.00     9800  BRK.B
 6292  1999-11-03  2146.00  2187.00  2141.0000  2153.00    16000  BRK.B
 6293  1999-11-02  2099.00  2181.00  2099.0000  2141.00    18200  BRK.B
 6294  1999-11-01  2140.00  2170.00  2063.0000  2087.00    21600  BRK.B

 [6295 rows x 7 columns],
 'PLD':        timestamp     open     high     low   close   volume symbol
 0     2024-11-06  115.710  115.710  111.40  113.74  5768134    PLD
 1     2024-11-05  112.980  114.430  112.41  114.43  2370206    PLD
 2     2024-11-04  114.035  115.090  113.12  113.86  2439949    PLD
 3     2024-11-01  114.810  115.370  113.38  113.40  3941791    PLD
 4     2024-10-31  115.170  115.675  112.86  112.94  5021280    PLD
 ...          ...      ...      ...     ...     ...      ...    ...
 6290  1999-11-05   20.380   20.630   20.38   20.56    15000    PLD
 6291  1999-11-04   20.630   20.630   20.50   20.50    35700    PLD
 6292  1999-11-03   20.500   20.630   20.38   20.56    33400    PLD
 6293  1999-11-02   20.000   20.560   19.75   20.44   118400    PLD
 6294  1999-11-01   19.940   20.000   19.81   20.00    29700    PLD

 [6295 rows x 7 columns],
 'GE':        timestamp    open    high      low   close   volume symbol
 0     2024-11-06  181.50  182.06  178.500  180.76  5939501     GE
 1     2024-11-05  172.36  175.47  171.770  175.26  3607258     GE
 2     2024-11-04  172.30  174.68  171.450  171.76  4197434     GE
 3     2024-11-01  172.76  175.27  171.585  171.70  3984932     GE
 4     2024-10-31  172.00  173.62  170.430  171.78  5177127     GE
 ...          ...     ...     ...      ...     ...      ...    ...
 6290  1999-11-05  133.19  134.81  133.190  133.75  4688900     GE
 6291  1999-11-04  132.50  133.56  130.500  131.88  4353600     GE
 6292  1999-11-03  132.88  132.94  130.000  131.38  4589000     GE
 6293  1999-11-02  129.69  133.13  128.190  129.00  6340600     GE
 6294  1999-11-01  133.63  134.38  129.250  129.38  6795500     GE

 [6295 rows x 7 columns]}

In [32]:
# Concatenate all DataFrames into a single DataFrame

combined_df = pd.concat(stock_datasets.values(), ignore_index=True)

# Sort by symbol and timestamp
combined_df = combined_df.sort_values(['symbol', 'timestamp'])

<class 'pandas.core.frame.DataFrame'>
Index: 63281 entries, 6294 to 6295
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  63281 non-null  object
 1   open       63281 non-null  float64
 2   high       63281 non-null  float64
 3   low        63281 non-null  float64
 4   close      63281 non-null  float64
 5   volume     63281 non-null  int64
 6   symbol     63281 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 3.9+ MB

In [33]:
combined_df['timestamp'] = pd.to_datetime(combined_df['timestamp'])
combined_df

      timestamp     open    high     low   close    volume symbol
6294 1999-11-01   68.060   71.88   66.31   69.13  12824100   AMZN
6293 1999-11-02   69.750   70.00   65.06   66.44  13243200   AMZN
6292 1999-11-03   68.190   68.50   65.00   65.81  10772100   AMZN
6291 1999-11-04   67.190   67.19   61.00   63.06  16759200   AMZN
6290 1999-11-05   64.750   65.50   62.25   64.94  11091400   AMZN
...         ...      ...     ...     ...     ...       ...    ...
6299 2024-10-31  117.150  118.67  116.68  116.78  20511977    XOM
6298 2024-11-01  119.930  119.95  114.84  114.95  20939321    XOM
6297 2024-11-04  116.070  118.70  115.93  118.61  14965433    XOM
6296 2024-11-05  119.080  119.21  118.01  118.96  10436744    XOM
6295 2024-11-06  121.145  121.91  119.30  121.00  20807681    XOM

[63281 rows x 7 columns]

In [36]:
combined_df= combined_df.reset_index(drop=True)

In [38]:
combined_df = combined_df.drop('index', axis=1)
combined_df

       timestamp     open    high     low   close    volume symbol
0     1999-11-01   68.060   71.88   66.31   69.13  12824100   AMZN
1     1999-11-02   69.750   70.00   65.06   66.44  13243200   AMZN
2     1999-11-03   68.190   68.50   65.00   65.81  10772100   AMZN
3     1999-11-04   67.190   67.19   61.00   63.06  16759200   AMZN
4     1999-11-05   64.750   65.50   62.25   64.94  11091400   AMZN
...          ...      ...     ...     ...     ...       ...    ...
63276 2024-10-31  117.150  118.67  116.68  116.78  20511977    XOM
63277 2024-11-01  119.930  119.95  114.84  114.95  20939321    XOM
63278 2024-11-04  116.070  118.70  115.93  118.61  14965433    XOM
63279 2024-11-05  119.080  119.21  118.01  118.96  10436744    XOM
63280 2024-11-06  121.145  121.91  119.30  121.00  20807681    XOM

[63281 rows x 7 columns]

In [39]:
# Save to CSV
combined_df.to_csv('stocks_historical_data.csv', index=False)

In [20]:
pip install GoogleNews yfinance

Collecting GoogleNews
  Downloading GoogleNews-1.6.15-py3-none-any.whl.metadata (4.5 kB)
Collecting yfinance
  Downloading yfinance-0.2.48-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from GoogleNews) (4.12.3)
Collecting dateparser (from GoogleNews)
  Downloading dateparser-1.2.0-py2.py3-none-any.whl.metadata (28 kB)
Requirement already satisfied: python-dateutil in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from GoogleNews) (2.9.0.post0)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (2024.1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.7.tar.gz (939 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 939.5/939.5 kB 380.7 kB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/html5lib/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/html5lib/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/html5lib/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/html5lib/
INFO: pip is looking at multiple versions of yfinance to determine which version is compatible with other requirements. This could take a while.
Collecting yfinance
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out. (read timeout=15)")': /packages/34/98/5340f9be95a2dea20a9afb36c564aeba774d84fcf42acc5068756444e562/yfinance-0.2.47-py2.py3-none-any.whl.metadata
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x10ec8d610>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/34/98/5340f9be95a2dea20a9afb36c564aeba774d84fcf42acc5068756444e562/yfinance-0.2.47-py2.py3-none-any.whl.metadata
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x10ed57c90>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/34/98/5340f9be95a2dea20a9afb36c564aeba774d84fcf42acc5068756444e562/yfinance-0.2.47-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.47-py2.py3-none-any.whl.metadata (13 kB)
  Downloading yfinance-0.2.46-py2.py3-none-any.whl.metadata (13 kB)
  Downloading yfinance-0.2.45-py2.py3-none-any.whl.metadata (13 kB)
  Downloading yfinance-0.2.44-py2.py3-none-any.whl.metadata (13 kB)
  Downloading yfinance-0.2.43-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.42-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.41-py2.py3-none-any.whl.metadata (11 kB)
INFO: pip is still looking at multiple versions of yfinance to determine which version is compatible with other requirements. This could take a while.
  Downloading yfinance-0.2.40-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.39-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.38-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: appdirs>=1.4.4 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (1.4.4)
  Downloading yfinance-0.2.37-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.36-py2.py3-none-any.whl.metadata (11 kB)
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. See https://pip.pypa.io/warnings/backtracking for guidance. If you want to abort this run, press Ctrl + C.
  Downloading yfinance-0.2.35-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.34-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.33-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.32-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.31-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.30-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.29-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.28-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.27-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.26-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.25-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.24-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.23-py2.py3-none-any.whl.metadata (11 kB)
  Downloading yfinance-0.2.22-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.21-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.20-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: cryptography>=3.3.2 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from yfinance) (43.0.0)
  Downloading yfinance-0.2.19-py2.py3-none-any.whl.metadata (13 kB)
  Downloading yfinance-0.2.18-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.17-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.16-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.15-py2.py3-none-any.whl.metadata (12 kB)
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out. (read timeout=15)")': /packages/99/04/5627bf675c4f4f77a8b2ae90894e84a6e13a6a1151b5e777a08705fd7cc6/yfinance-0.2.14-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.14-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.13-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.12-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.11-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.10-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.9-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.7-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.6-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.5-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.4-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.3-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.2-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.2.1-py2.py3-none-any.whl.metadata (12 kB)
  Downloading yfinance-0.1.96-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from cryptography>=3.3.2->yfinance) (1.17.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from python-dateutil->GoogleNews) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from beautifulsoup4->GoogleNews) (2.5)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from dateparser->GoogleNews) (2024.9.11)
Collecting tzlocal (from dateparser->GoogleNews)
  Downloading tzlocal-5.2-py3-none-any.whl.metadata (7.8 kB)
Requirement already satisfied: pycparser in /opt/anaconda3/envs/project_4_env/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Downloading GoogleNews-1.6.15-py3-none-any.whl (8.8 kB)
Downloading yfinance-0.1.96-py2.py3-none-any.whl (31 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading dateparser-1.2.0-py2.py3-none-any.whl (294 kB)
Downloading tzlocal-5.2-py3-none-any.whl (17 kB)
Installing collected packages: multitasking, tzlocal, dateparser, yfinance, GoogleNews
Successfully installed GoogleNews-1.6.15 dateparser-1.2.0 multitasking-0.0.11 tzlocal-5.2 yfinance-0.1.96
Note: you may need to restart the kernel to use updated packages.

In [22]:
from GoogleNews import GoogleNews

googlenews= GoogleNews()

In [23]:
googlenews.set_lang('en')
googlenews.set_time_range('11/06/1999', '11/06/2024')
googlenews.search('Nvidia')

results = []
for _ in range(30):
    googlenews.get_page(_)
    results.extend(googlenews.results())
    googlenews.clear()

In [26]:
df = pd.DataFrame(results)
df.head()

,title,media,date,datetime,desc,link,img
0,Nvidia's upgrading GeForce Now's $10 tier with...,PC Gamer,7 minutes ago,2024-11-07 09:45:24.945067,With a market value of well over $300000000000...,https://www.pcgamer.com/hardware/graphics-card...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
1,Welcome to GeForce NOW Performance: Priority M...,NVIDIA Blog,1 minutes ago,2024-11-07 09:51:24.950047,"This GFN Thursday, the GeForce NOW Priority me...",https://blogs.nvidia.com/blog/geforce-now-thur...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
2,Nvidia to cap game streaming hours on GeForce ...,The Verge,2 minutes ago,2024-11-07 09:50:24.953499,Nvidia is adding playtime caps to GeForce Now....,https://www.theverge.com/2024/11/7/24289443/nv...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
3,Cyngn Highlights Its Proprietary Computer Visi...,PR Newswire,3 hours ago,2024-11-07 06:52:27.881857,Cyngn has announced progress of its proprietar...,https://www.prnewswire.com/news-releases/cyngn...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
4,"Watch out, Nvidia - new benchmarks suggest App...",TechRadar,3 hours ago,2024-11-07 06:52:27.899426,Apple's lineup of M4 chips is expected to sign...,https://www.techradar.com/computing/gpu/watch-...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."